@{
    ViewBag.Title = "MyConnections";
}

<h2>MyConnections</h2>

@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");
@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");
@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");
@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");

@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");

@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");
@Html.ActionLink("Service Portal", "Service Portak", "http://google.com");
